workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

default:
  image: node:22.19.0-alpine
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - .pnpm-store
    policy: pull-push

stages:
  - verify

ci-verify:
  stage: verify
  before_script:
    - |
      echo "Node: $(node -v)"
      echo "npm:  $(npm -v)"
      corepack enable
      echo "Corepack: $(corepack --version)"
      echo -n "packageManager: " && node -p "require('./package.json').packageManager"
      echo "pnpm: $(pnpm -v)"
      pnpm config set store-dir .pnpm-store
      pnpm install --frozen-lockfile
  script:
    - pnpm run ci
